/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#root {
	width: 100%;
	height: 100vh;

	.container {
		background-color: rgb(41, 41, 41);
		width: 100%;
		height: 100%;
	}

}


@mixin button_mixin {
	border-radius: 0.5rem;
	height: 30px;
	background-color: rgb(0, 0, 0);
	color: #ffffff;
	margin-left: 0.25rem;
	outline: none;
	font-weight: 600;
	cursor: pointer;
}

@mixin input_mixin($wf:100%) {
	border: 1px solid #000000;
	height: 30px;
	width: $wf;
	margin-right: 0.25rem;
	outline: none;
	border-radius: 0.5rem;
	font-weight: 600;
	padding: 0 0.5rem;

}

.list_wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		color: #ffffff;
		font-size: 2.5rem;
		font-weight: 700;
	}

	.list_form {
		width: 40%;
		margin-top: 2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;

		input {
			@include input_mixin;
		}

		button {
			@include button_mixin;
		}
	}
}

.listItem_wrap {
	margin-top: 3rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	border-radius: 1rem;


	.listItem_wrap_li {
		.listItem_li {
			display: flex;
			align-items: center;
			padding-left:1rem;

			margin:0.3rem 0;
			position: relative;

			&::before {
				content: ">";
				position: absolute;
				left:0;
				top: 7px;
				font-weight: bold;
				color: #000000;
			}

			

			span {
				font-size: 1.1rem;
				font-weight: 600;
			}

			.btn_wrap {
				margin-left: 0.6rem;
				button {
					@include button_mixin;
				}
			}

		}

		.listItem_form {
			display: flex;
			align-items: center;
			input {
				@include input_mixin(150px);
			}

			button {
				@include button_mixin;

			}
		}
	}
}
